
<form>
    <label class="stage-launch-mass">Stage 1 Launch Mass:</label>
    <input type="number" class="launch-mass-input" value=""> Kg</input>
    <br><br>

    <label class="stage-propellant-mass">Stage 1 Propellant Mass:</label>
    <input type="number" class="prop-mass-input" value=""> Kg</input>
    <br><br>

    <label class="stage-isp">Stage 1 ISP:</label>
    <input type="number" class="isp-input"> s</input>
</form>