<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/test/test.css" />
    <link rel="stylesheet" type="text/css" href="/css/test/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/test/sections.css">
    <link rel="stylesheet" type="text/css" href="/css/test/rocket.css">
</head>
<body>

    <nav>
        <a class="nav-link" href="/">Home</a>
        <ul class="nav-list nav-right">
            <li><a class="nav-link" href="/rocket">Rocket</a></li>
            <li><a class="nav-link" href="/">Weather</a></li>
            <li><a class="nav-link" href="/">Game</a></li>
            <li><a class="nav-link" href="/">Contact</a></li>
        </ul>
    </nav>

    {{{body}}}


</body>
</html>