
<div class="hero-section black-bg">
    <h1>Orca</h1>
    <h2>Programmer</h2>
</div>

<div class="weather-section">
    <h2>Weather</h2>
    <p>Coming soon!</p>
</div>

<div class="game-section black-bg">
    <h2>Game</h2>
    <p>Coming soon!</p>
</div>

<footer>
    <h3>Contanct Details:</h3>
    <p>OrcaProgrammer@outlook.com</p>
    <p>By Lukasz J. Poloczek-McCusker</p>
</footer>