
<div class="hero-section black-bg display-section">
    <div style="padding: 0;">
        <h1 style="margin-top: 10vh;">Orca</h1>
        <h2 style="margin-top: -2rem;">Programmer</h2>
    </div>
</div>

<div class="right-section display-section">
    <div class="wrapper" style="padding-top: -2rem;">
        <h2 style="">Rocket</h2>
        <h3 style="margin-bottom: 3rem;">Calculate basic rocket properties for a multi-stage rocket</h3>
        <button><a href="/rocket">Calculate</a></button>
    </div>
</div>

<div class="black-bg display-section">
    <div class="wrapper">
        <h2>Weather</h2>
        <h3>Coming soon!</h3>
    </div>
</div>

<div class="right-section display-section">
    <div class="wrapper">
        <h2>Game</h2>
        <h3>Coming soon!</h3>
    </div>
</div>

<footer class="black-bg">
    <h3>Contact Details:</h3>
    <p id="email">OrcaProgrammer@outlook.com</p>
    <p>By Lukasz J. Poloczek-McCusker</p>
</footer>