
<div class="rocket-section">

    <h3>Rocket</h1>
    <p>Input values for each of the stages and click calculate for find the basic properties of the rocket. 
        Click on the add button to add another stage and refresh the page to reset everything.</p>

    <div id="InputSection" class="input-section">

        <div class="input-box">
            <form action="">
                <label>Payload Mass:</label>
                <input type="number" class="payload-mass-input" value=""> Kg</input>
            </form>
        </div>
        
        <div class="input-display">
            <p style="position: relative; top: 7rem; left: 4.4rem;">Payload</p>
            <img src="/img/payload.svg" alt="Image of a payload">
        </div>

        <div class="input-box">
            <form>
                <label class="stage-launch-mass">Stage 1 Launch Mass:</label>
                <input type="number" class="launch-mass-input" value=""> Kg</input>
                <br><br>

                <label class="stage-propellant-mass">Stage 1 Propellant Mass:</label>
                <input type="number" class="prop-mass-input" value=""> Kg</input>
                <br><br>

                <label class="stage-isp">Stage 1 ISP:</label>
                <input type="number" class="isp-input"> s</input>
            </form>
        </div>

        <div class="input-display">
            <p class="stage-number-display" style="position: relative; top: 7rem; left: 4.4rem;">Stage 1</p>
            <img src="/img/stage.svg" alt="Image of a payload">
        </div>

        <div id="last-input-box" class="input-box">
        </div>

        <div id="last-input-display" class="input-display">
            <button id="AddStageButton"><img src="/img/addButton.svg" alt="Add Button"></button>
        </div>
    </div>

    <button id="CalculateButton">Calculate</button>

    <div id="OutputSection" class="output-section">

    </div>

</div>

<footer class="black-bg">
    <h3>Contact Details:</h3>
    <p id="email">OrcaProgrammer@outlook.com</p>
    <p>By Lukasz J. Poloczek-McCusker</p>
</footer>